@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import '~slick-carousel/slick/slick.css';

* {
    margin: 0;
    font-family: 'Mukta', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: 1px 1px #7310ae;
}

/* Movie card */

.movie-card {
    height: 420px;
}

.movie-card > div {
    height: 100%;
}

/* Slider overrides */

body {
    overflow-x: hidden;
}

.slick-prev, .slick-next {
    z-index: 100;
    position: absolute;
    top: 50%;
    margin: 0 5px 0 5px;
    transform: translateY(-50%);
    cursor: pointer;
}

.slick-prev > svg, .slick-next > svg {
    /*color: red;*/
}

.slick-prev {
    left: 0;
}
.slick-next {
    right: 0;
}


/* Loader */

.card-loader-container {
    display: flex !important;
    height: 420px;
}

.lds-ellipsis {
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #ef444a;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

